.container
    margin: 0 auto
    width: 1200px

.container
    margin-top: 60px

.pdf
    max-width: 840px
    display: flex
    align-items: flex-start
    gap: 20px

.header img
    height: 25px
    width: 25px
    border-radius: 50%

.header
    background-color: white
    padding: 10px
    border-radius: 10px
    display: flex
    align-items: center
    margin-bottom: 10px
    border: 1px solid #dee2e6
    justify-content: space-between

.header div
    display: flex
    align-items: center
    gap: 10px

.container h5
    font-size: 18px
    font-weight: 400

.container iframe
    width: 840px
    height: 840px

.imageviewer button
    cursor: pointer
    padding: 4px 8px
    border-radius: 25px
    border: none
    background-color: #339af0
    color: white

.rating_bar
    font-size: 24px
    line-height: 24px

.rating_bar input[type="radio"]
    display: none

.rating_bar i
    color: #ccc

.rating_bar i
    &:active
        color: #f90
