$secondary-gray: #adb5bd

html
    height: 100%

body
    background-color: #F0F2F5
    height: inherit
    margin: 0

.left

    position: fixed
    left: 230px

.right
    position: fixed
    right: 230px

.secondary_post
    display: flex
    gap: 10px
    margin-top: 10px

.container
    display: flex
    gap: 20px

    padding-top: 50px
    padding-left: calc(100vw - 100%)

.middle
    position: relative
    margin: 0 auto
    max-width: 680px

.arrow
    margin-left: 70px
    cursor: pointer

.postbar
    margin-top: 20px

.endtext
    font-size: 12px
    text-align: center
    margin-top: 20px
    text-align: center
    color: $secondary-gray

.header

    display: block
    float: right
    border: 2px solid #dee2e6
    background-color: white
    border-radius: 25px
    max-width: 125px
.header button
    border: none
    background-color: white
    padding: 5px 10px
    cursor: pointer
    &:hover
        background-color: #f1f3f5

.header button
    &:nth-child(1)
        border-top-left-radius: 25px
        border-bottom-left-radius: 25px
    &:nth-child(2)
        border-right: 1px solid #e9ecef
        border-left: 1px solid #e9ecef
    &:nth-child(3)
        border-top-right-radius: 25px
        border-bottom-right-radius: 25px

.header h1
    font-weight: 500
    font-size: 16px

.mainposts
    // background-color: white
    margin-top: 46px
    // padding: 10px
    // border-radius: 6px
    // box-shadow: 0 3px 5px rgb(0 0 0 / 0.1)

.post
    max-width: 680px
    background-color: white
    border-radius: 4px
    margin-bottom: 5px
    // border: 1px solid #dee2e6

@media only screen and (max-width: 1390px)
    .left
        display: none
    .right
        display: none

@media only screen and (max-width: 670px)
    .container
        max-width: 100%
        padding-left: 10px
        padding-right: 10px
