// upcoming
    // #d0ebff
    //  #4dabf7

// current
    // #fff4e6
    // #ffa94d

.container
    margin: 0 auto
    max-width: 1000px
    margin-top: 0px
    // background-color: blue

.latest
    display: flex
    align-items: center
    gap: 20px
    padding-bottom: 20px
    border-bottom: 1px solid #dee2e6

.current
    width: 610px
    // max-width: 700px
    // max-height: 400px

.upcoming
    // width: 500px
    margin-top: 10px

.current h1
    font-size: 20px
    margin-top: 60px
    color: #495057

.current main
    margin-top: 10px
    background-color: white
    padding: 15px
    border-radius: 20px
    border: 1px solid #dee2e6

.upcoming main
    margin-top: 80px
    background-color: white
    padding: 15px
    border-radius: 20px
    border: 1px solid #dee2e6

.header

    display: flex
    justify-content: space-between

    h2
        font-size: 20px
        font-weight: 500
        color: #495057
        max-width: 350px
    p
        margin-top: 30px
        margin-bottom: 20px
        font-size: 12px
        color: #adb5bd
    span
        font-size: 12px
        margin-right: 10px
        background-color: #fff4e6
        color: #ffa94d
        padding: 3px 8px
        border-radius: 25px

.footer
    margin-top: 20px
    display: flex
    justify-content: space-between
    div
        &:nth-child(1)
            display: flex
            gap: 10px
    button
        border: none
        padding: 2px 8px
        border-radius: 25px
        color: white
        background-color: #339af0

.footer span
    display: inline-flex
    padding: 2px 8px
    padding-right: 10px
    border-radius: 25px
    // max-width: 200px
    gap: 5px
    align-items: center
    background-color: #f1f3f5
    p
        font-size: 12px
        color: #868e96

.table_view
    // margin-top: 10px
    display: flex
    gap: 20px

.table_planner
    // padding-top: 15px
    border-right: 1px solid #dee2e6
    padding-right: 20px
    width: 650px

.table_planner button
    margin-top: 10px
    margin-bottom: 10px
    border-radius: 25px
    padding: 2px 8px
    border: none
    background-color: #339af0
    color: white
    cursor: pointer

.planner_item
    background-color: white
    padding: 10px
    border-radius: 12px
    margin-bottom: 10px
    border: 1px solid #dee2e6
    cursor: pointer
    width: 650px
    h1
        font-size: 18px
        font-weight: 400
        color: #495057
    p
        font-size: 12px
        color: #868e96

.exam_planner
    // margin-top: 15px

.exam_planner_item
    background-color: white
    display: flex
    flex-direction: column
    width: 100%
    padding: 10px
    border-radius: 12px
    margin-bottom: 10px
    border: 1px solid #dee2e6
    cursor: pointer
    width: 300px

    h1
        font-size: 20px
        font-weight: 400
        color: #495057

    p
        font-size: 12px
        color: #868e96
        margin-bottom: 10px

.exam_planner button
    margin-top: 10px
    margin-bottom: 10px
    border-radius: 25px
    padding: 2px 8px
    border: none
    background-color: #339af0
    color: white
    cursor: pointer

.chip
    margin-top: 15px
    display: flex
    align-items: center
    gap: 10px
    span
        &:nth-child(1)
            font-size: 12px
            // margin-right: 10px
            background-color: #d0ebff
            color: #4dabf7
            padding: 3px 8px
            border-radius: 25px
        &:nth-child(2)
            font-size: 12px
            margin-right: 10px
            background-color: #f8f9fa
            color: #adb5bd
            border: 1px solid #dee2e6
            padding: 3px 8px
            border-radius: 25px
            // #d0ebff
        &:nth-child(3)
            font-size: 12px
            margin-right: 10px
            background-color: #4dabf7
            color: white
            // border: 1px solid #dee2e6
            padding: 3px 8px
            border-radius: 25px
    //  #4dabf7

.exam_chip
    margin-top: 15px
    display: flex
    align-items: center
    span
        &:nth-child(1)
            font-size: 12px
            margin-right: 10px
            background-color: #ffe3e3
            color: #ff6b6b
            padding: 3px 8px
            border-radius: 25px
        &:nth-child(2)
            font-size: 12px
            margin-right: 10px
            background-color: #d0ebff
            color: #4dabf7
            padding: 3px 8px
            border-radius: 25px
        &:nth-child(3)
            font-size: 12px
            margin-right: 10px
            background-color: #f8f9fa
            color: #adb5bd
            border: 1px solid #dee2e6
            padding: 3px 8px
            border-radius: 25px
            // #d0ebff
    //  #4dabf7

@media only screen and (max-width: 660px)

    .container_pc
        display: none

.container_mobile
    margin-top: 150px
