.container
    display: flex
    position: absolute
    width: 1200px
    left: 25%
    gap: 20px

.middle
    position: relative

.right
    display: flex
    flex-direction: column
    gap: 15px
    margin-top: 60px
    position: fixed
    left: 1260px

@media only screen and (max-width: 1410px)
    .left
        display: none

    .middle
        position: block
        left: 0

    .container
        display: block
