.container
    margin-left: 10px

.profile
    display: flex
    align-items: center
    gap: 10px
    padding: 8px
    padding-left: 10px
    cursor: pointer
    border-radius: 8px
    &:hover
        background-color: #e9ecef

.profile p
    font-size: 16px

.profile img
    height: 35px
    width: 35px
    border-radius: 50%

.buttons img
    height: 30px

.menu
    border-bottom: 1px solid #ced4da

.menu button
    display: flex
    gap: 10px
    align-items: center
    text-align: left !important
    border: none
    cursor: pointer
    padding: 10px 80px
    padding: 10px 150px 10px 10px
    border-radius: 8px
    background-color: #F0F2F5
    font-size: 14px
    &:hover
        background-color: #e9ecef

.buttons
    padding: 8px
    border-radius: 8px
    display: flex
    flex-direction: column

.menu span
    color: #495057

.menu p
    color: #495057
    font-size: 12px

.menu h1
    font-weight: 400
    font-size: 14px
