.container
    background-color: white
    padding: 10px
    border-radius: 12px

.upload
    text-align: center
    display: grid
    margin-top: 20px

.upload button
    cursor: pointer
    width: 100px
    padding: 2px
    border-radius: 25px
    margin-left: 2px
    margin-right: 2px
    border: none
    background-color: #228be6
    color: white
    margin-top: 10px

.image
    display: flex
    gap: 10px

.image img
    max-width: 200px
    max-height: 100px
    padding: 5px
    border: 1px solid #dee2e6
    border-radius: 10px

.notes_info input
    padding: 5px 10px
    // padding: 
    border-radius: 25px
    border: none
    outline: none
    background-color: #f1f3f5
    border: 1px solid #dee2e6

.notes_info
    margin-top: 20px
