.container
    // background-color: white
    width: 350px
    padding: 10px

.notes
    display: flex
    flex-direction: column
    background-color: white

    padding: 5px
    border-radius: 8px
    gap: 10px

.notes h1
    font-size: 14px
    font-weight: 300
    padding: 5px
    color: #adb5bd

.head
    display: flex
    align-items: center
    justify-content: space-between

.item img
    height: 70px
    border-radius: 8px

.item
    border: 1px solid #dee2e6
    // box-shadow: 0 3px 5px rgb(0 0 0 / 0.1)
    display: flex
    gap: 10px
    // height: 90px
    padding: 5px
    padding-bottom: 2px
    // padding: 10px
    border-radius: 10px

.right
    display: flex
    flex-direction: column
    gap: 8px

.right span
    color: #adb5bd
    font-size: 12px
    margin: 0px

.right p
    font-weight: 500
    font-size: 14px
    margin: 0px

.right img
    height: 20px
    border-radius: 50%

.chats
    margin-top: 10px

.chats h1
    font-size: 12px
    font-weight: 400
    color: #adb5bd
    margin-bottom: 10px
.chats img
    height: 30px
    width: 30px
    border-radius: 50%

.chats div
    display: flex
    align-items: center
    gap: 10px
    background-color: white
    padding: 5px
    border-radius: 25px
    margin-bottom: 5px
    border: 1px solid #dee2e6

.chats
    font-size: 14px
    color: #343a40

.study_queue
    background-color: white
    box-shadow: 0 1px 2px rgb(0 0 0 / 0.1)
    border-radius: 10px
    margin-bottom: 10px
    padding: 10px

.study_queue h3
    color: #343a40

.study_queue p
    font-size: 12px
    margin-top: 5px
    color: #868e96

.study_queue button
    margin-top: 10px
    border: none
    padding: 4px 10px
    background-color: #339af0
    color: white
    width: 100%
    border-radius: 25px
    cursor: pointer

.planner
    background-color: white
    padding: 10px
    margin-bottom: 10px
    box-shadow: 0 1px 2px rgb(0 0 0 / 0.1)

    border-radius: 10px
    h3
        font-size: 16px
        font-weight: 500
        color: #495057
    p
        font-size: 12px
        color: #868e96
        margin-bottom: 10px
    span
        background-color: #fff4e6
        color: #ffa94d
        font-size: 12px
        margin-top: 20px

        padding: 2px 10px
        border-radius: 25px
        border: 1px solid #ffd8a8

.continue_planner
    background-color: white
    padding: 5px 10px

    border-radius: 25px
    box-shadow: 0 1px 2px rgb(0 0 0 / 0.1)
    margin-bottom: 10px
    display: flex
    align-items: center
    justify-content: space-between
    p
        font-size: 12px
        color: #495057
    button
        padding: 2px 15px
        border-radius: 25px
        outline: none
        border: none
        background-color: #4dabf7
        color: white
        cursor: pointer

.footer
    margin-top: 10px
    border-top: 1px solid #ced4da
    padding-top: 10px
    a
        text-decoration: none
        cursor: pointer

        box-shadow: 0 1px 2px rgb(0 0 0 / 0.1)

        background-color: white
        border-radius: 10px
        padding: 2px 8px
        font-size: 12px
        color: #495057
        display: flex
        align-items: center
        justify-content: space-between

.notifications
    margin-top: 10px

    p
        font-size: 12px
        color: #adb5bd
    div
        background-color: white
        padding: 5px
        border-radius: 8px
        margin-top: 10px
        display: flex
        align-items: center
        gap: 10px
        box-shadow: 0 1px 2px rgb(0 0 0 / 0.1)
        cursor: pointer

        h6
            font-weight: 400
            color: #495057

        img
            height: 30px
            width: 30px
            border-radius: 8px
