*
    margin: 0
    padding: 0

.container
    margin: 0 auto

.mainpost
    background-color: white
    padding: 10px
    border-radius: 12px
    border: 1px solid #dee2e6

.header img
    height: 35px
    width: 35px
    border-radius: 50%

.header
    display: flex
    align-items: center
    justify-content: space-between
    padding: 10px

.head
    display: flex
    align-items: center
    gap: 10px

.head span
    font-size: 12px
    color: #adb5bd
    font-weight: 300

.content
    border-bottom: 1px solid #dee2e6

.content img
    max-width: 730px
    // widows: 100%
    object-fit: cover
    border-radius: 8px

.content p
    padding: 10px
    font-weight: 400
    font-size: 14px

.footer
    padding-top: 10px
    display: flex
    justify-content: space-between
    // padding-bottom: 5px

.likes div
    display: flex
    align-items: center
    gap: 3px

.likes span
    font-size: 12px
    color: #adb5bd
    font-weight: 400

.likes
    display: flex
    gap: 10px
    background-color: #e9ecef
    // background-color: blue
    // padding: 5px 10px
    padding: 2px 5px
    border-radius: 25px
    border: 1px solid #dee2e6
    cursor: pointer

.userlikespfp
    display: flex

.replybox
    padding: 10px
    // padding-top: 20px
    // box-shadow: 0 3px 5px rgb(0 0 0 / 0.1)
    border: 1px solid #dee2e6

    // border: 1px solid #dee2e6

    margin-top: 10px
    border-radius: 10px
    display: flex
    gap: 10px
    background-color: white
    align-items: center

.replybox img
    height: 30px
    width: 30px
    border-radius: 50%

.replybox input
    background-color: #f1f3f5
    padding: 10px
    border-radius: 20px
    width: 100%
    border: none
    outline: none

.send_icon
    background-color: #e9ecef
    padding: 2px 4px 2px 4px
    padding-top: 5px
    padding-left: 5px
    padding-bottom: 1px
    border: 1px solid #dee2e6
    border-radius: 50%

.replies
    // padding: 10px

.replies h5
    font-weight: 300
    text-align: center
    padding: 10px
    color: #868e96

.replies img
    height: 30px
    width: 30px
    border-radius: 50%

.reply .head
    display: flex
    margin-bottom: 10px
    justify-content: space-between

.reply
    margin-top: 15px
    // box-shadow: 0 3px 5px rgb(0 0 0 / 0.1)
    border: 1px solid #dee2e6

    // display: flex
    gap: 10px
    padding: 10px
    border-radius: 10px
    background-color: white
    // border: 1px solid #dee2e6

.reply h1
    font-size: 13px
    font-weight: 400

.reply p
    font-size: 13px
    margin-top: 5px
    color: #495057

.reply span
    color: #adb5bd
    font-size: 12px
    font-weight: 300

.chip_mobile
    display: none
@media only screen and (max-width: 780px)
    .container
        // width: 90%
        margin-left: 5px
        margin-right: 5px

    .content img
        width: 100%

    .normal_chip
        display: none

    .chip_mobile
        display: flex
        align-items: center
        color: #868e96

    // .chip
    //     max-width: 220px
    //     overflow-y: scroll
        // background-color: blue
