.pfp
    display: flex
    flex-direction: column

.pfp img
    height: 100px
    width: 100px
    margin-bottom: 5px

.inputs
    margin-top: 5px
    display: flex
    gap: 10px
    margin-bottom: 10px

.main
    button
        padding: 2px 10px
        border-radius: 25px
        outline: none
        border: none
        background-color: #4dabf7
        color: white
        cursor: pointer
        margin-top: 10px
    p
        color: #495057
    input
        padding: 4px
        border: 1px solid #dee2e6
        outline: none
        border-radius: 25px
    span
        font-size: 12px
        color: #f03e3e
        
